body div > .container {
    position: relative;
}

i.fa[data-admin="edit-section"] {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    font-size: 24px;
    background-color: rgb(14, 78, 216);
    color: #FFF;
    cursor: pointer;
    box-shadow: 0 2px 4px #3337;
    position: absolute;
    top: 20px;
    right: 0;
}
    i.fa[data-admin="edit-section"]:hover {
        background-color: rgb(10, 67, 189);
        box-shadow: 0 2px 2px #0007;
    }

.editor-background {
    display: none;
    background: rgba(0,0,0,0.3);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 2;
}
.admin-editor {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 3;
    width: 500px;
    background: #FFF;
    box-shadow: 8px 0 16px rgba(0,0,0,1);
}
    body.show-admin-editor .editor-background,
    body.show-admin-editor .admin-editor {
        display: inline-block;
    }
    .admin-editor > * {
        display: inline-block;
        width: 100%;
        float: left;
        padding: 10px 20px;
    }
    .admin-editor > header {
        height: 55px;
        border-bottom: 1px solid #CCC;
        line-height: 35px;
        font-size: 20px;
    }
        .admin-editor > header > span {
            line-height: inherit;
            font-size: inherit;
        }
        .admin-editor > header > i {
            float: right;
            width: 32px;
            line-height: 32px;
            font-size: 18px;
            text-align: center;
            background-color: rgb(14, 78, 216);
            color: #FFF;
            border-radius: 50%;
            cursor: pointer;
        }
            .admin-editor > header > i:hover {
                background-color: rgb(10, 67, 189);
                box-shadow: 0 2px 2px #0007;
            }
    .admin-editor > section {
        height: calc(100vh - 110px);
    }
        .admin-editor > section > .list {
            display: inline-block;
            width: 100%;
        }
            .admin-editor > section > .list > .item {
                display: inline-block;
                width: 100%;
                margin: 8px 0;
                padding: 10px;
                border: 1px solid #CCC;
            }
                .admin-editor .item > * {
                    display: inline-block;
                    float: left;
                }
                .admin-editor .item > .fa-check-square {
                    width: 32px;
                    line-height: 32px;
                    font-size: 28px;
                    text-align: center;
                    color: #CCC;
                    cursor: pointer;
                    margin-right: 10px;
                }
                    .admin-editor .item[data-status="active"] > .fa-check-square {
                        color: #3F3;
                    }
                .admin-editor .item > .info {
                    width: calc(100% - 3 * 32px - 30px);
                }
                    .admin-editor .item > .info > .main-info {
                        display: inline-block;
                        width: 100%;
                        font-size: 18px;
                        line-height: 20px;
                    }
                    .admin-editor .item > .info > .secondary-info {
                        display: inline-block;
                        width: 100%;
                        font-size: 14px;
                        line-height: 20px;
                        height: 20px;
                        overflow: hidden;
                    }
                .admin-editor .item > .fa-trash {
                    width: 32px;
                    line-height: 32px;
                    font-size: 18px;
                    text-align: center;
                    background-color: rgb(14, 78, 216);
                    color: #FFF;
                    border-radius: 50%;
                    cursor: pointer;
                    margin-left: 10px;
                }
                .admin-editor .item > .fa-pencil {
                    width: 32px;
                    line-height: 32px;
                    font-size: 18px;
                    text-align: center;
                    background-color: rgb(14, 78, 216);
                    color: #FFF;
                    border-radius: 50%;
                    cursor: pointer;
                    margin-left: 10px;
                }
    .admin-editor > footer {
        height: 55px;
    }